{% extends "base.html" %}

{% load static %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
	<div class="row h-100">
		<div class="col-9 col-md-6 my-auto">
			<h1 class="display-5 home-message">
				<q>A girl should be two things: classy and fabulous</q> |Coco Chanel
			</h1>
			<div class="my-2">
				<a href="{% url 'catalogue' %}" class="btn shop-button">Shop Now</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}