{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Checkout</h2>
                <hr>
            </div>
        </div>

	<div class="row">
		<div class="col-12 col-lg-6">
			<p class="text-muted">Fill out the form to proceed with your order.</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label">Customer Details</legend>
                    {{ order_form.first_name | as_crispy_field }}
                    {{ order_form.last_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label">Delivery Information</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.town | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label">Payment Details</legend>
                    </fieldset>
		</div>
	</div>
	</div>
{% endblock %}