html {
    height: 100%;
}

body {
    background: url('/media/homepageImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 5%;
    height: calc(100vh - 160px);
    color: #33266e;
    font-family: 'Open Sans', sans-serif;
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #806543;
    height: 1.5rem;
    width: 1.5rem;
}

input[name='q']::placeholder {
    color: #33266e;
}

.home-message {
    margin-top: 75px;
    color: #fff;
    background-color: #806543;
    border-radius: 0.25rem;
    opacity: 0.50;
    padding: 20px;
    font-family: 'Abril Fatface', sans-serif;
}

.my-button {
    background: #33266e;
    color: #806543;
    min-width: 200px;
    border-radius: .25rem;
}

.my-button:hover,
.my-button:active,
.my-button:focus {
    background: #542f34;
    color: #806543;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #222;
	z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.overlay_basket {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background-repeat: no-repeat;
	background: url('/media/overlay_basket.jpg');
	z-index: -1;
}

/* toast component from bootstrap */

.message-container {
    position: fixed;
    top: 48px;
    right: 15px;
    z-index: 99999999;
}

.my-toast {
    overflow: visible;
    border-radius: 0.25rem;
}

.toast-capper {
    height: 40px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.basket-view-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* media queries */

@media (min-width: 992px) {
    @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    /*
    .nav-link {
        padding: 0.15rem;
    }
    */

    .nav-link i.fa-sm {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}
