html {
    height: 100%;
}

body {
    background: url('/media/homepageImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 10%;
    height: calc(100vh - 160px);
    color: #03989e;
    font-family: 'Open Sans', sans-serif;
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #03989e;
    height: 1.5rem;
    width: 1.5rem;
}