html {
    height: 100%;
}

body {
    background: url('/media/homepageImage.png') no-repeat center center fixed;
    background-size: cover;
    background-position: 0% -40%;
    height: calc(100vh - 200px);
    color: #33266e;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    border-radius: 0.25rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #a6607c;
}

.nav-link {
    text-decoration: none;
    color: #806543;
}

.nav-link:hover {
    text-decoration: none;
    color: #fafafa;
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #806543;
    height: 1.5rem;
    width: 1.5rem;
}

input[name='q']::placeholder {
    color: #33266e;
}

.heading-font {
    font-family: 'Abril Fatface', sans-serif;
}

.navbar-nav .dropdown-menu {
    background-color: #542f34;
}
.dropdown-item > a {
    color: #fafafa;
}

#topnav {
    background-color: #222;
}

.home-message {
    margin-top: 175px;
    color: #fafafa;
    border: 2px solid #806543;
    border-radius: 0.25rem;
    padding: 20px;
    font-family: 'Abril Fatface', sans-serif;
}

.fas {
    color: #806543;
}

.my-button {
    background: #33266e;
    color: #806543;
    min-width: 200px;
    border-radius: .25rem;
}

.my-border {
    border-style: solid;
    border-color: #806543;
    border-radius: 0.25rem;
}

.shop-button {
    float: left;
    text-align: center;
    padding: 10px 20px;
    background-color: #806543;
    opacity: 0.75;
    color: #fafafa;
}

.shop-button:hover {
    background-color: #a6607c;
    opacity: 0.75;
    color: #fafafa;
}

.my-button:hover,
.my-button:active,
.my-button:focus {
    background: #542f34;
    color: #806543;
    font-weight: bold;
}

.card-footer,
.card-body {
    background-color: #fafafa;
}

.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background-repeat: no-repeat;
	background-color: #fafafa;
	z-index: -1;
}

/* toast component from bootstrap */

.message-container {
    position: fixed;
    top: 48px;
    right: 15px;
    z-index: 99999999999;
}

.my-toast {
    overflow: visible;
    border-radius: 0.25rem;
}

.toast-capper {
    height: 20px;
}

.toast-capper.capper-success {
    background-color: #806543;
}

.toast-capper.caper-error {
    background-color: #33266e;
}

.toast-capper.capper-warning {
    background-color: #542f34;
}

.toast-capper.capper-info {
    background-color: #a6607c;
}

.basket-view-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btt-button {
    position: fixed;
    width: 42px;
    height: 42px;
    bottom: 10px;
    right: 10px;
}

.custom-checkbox .custom-control-label::before {
    border-color: #542f34;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    border-color: #542f34;
    
}

/* media queries */

@media (min-width: 992px) {
    @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.heading-font {
        font-size: 26px;
    }

    .navbar-toggler {
        padding: 10px 10px;
        font-size: 16px;
    }

    .nav-link i.fa-sm {
        font-size: 16px;
    }

    #delivery-banner h4 {
        font-size: 14px;
    }

    .my-button {
        padding: 6px .6px;
    }

    .increment-qty 
    .decrement-qty {
        padding: 4px 8px !important;
    }
}