#payment-form .form-control,
#card-element {
    color: #222;
    border: 1px solid #222;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

/*
    CSS code from: 
    https://stripe.com/docs/stripe-js
*/

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #fafafa;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #a6607c;
}
